<div class="ticket">
    <div class="ticket-info">@ChildContent</div>
    <div class="ticket-actions">
        <button @onclick="@Add">Add to cart</button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Guid Id { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    public void Add()
        => Console.WriteLine($"Ticket {Id} added!");
}