<div class="ticket">
    <div class="name">
        @Tariff
    </div>
    <div class="price">
        @(Price.ToString("0.00 $"))
    </div>
    <div class="ticket-actions">
        <button @onclick="@OnAdded">
            Add to cart
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Tariff { get; set; }

    [Parameter, EditorRequired]
    public decimal Price { get; set; }

    [Parameter]
    public EventCallback OnAdded { get; set; }
}