@page "/ch04r05"
@rendermode InteractiveWebAssembly
@inject TicketsApi Tickets

<Grid Provider="@Tickets.GetAsync">
    <Header>
        <tr>
            <td>Id</td>
            <td>Tariff</td>
            <td>Price</td>
        </tr>
    </Header>
    <Row>
        <tr>
            <td>@context.Id</td>
            <td>@context.Tariff</td>
            <td>@context.Price</td>
        </tr>
    </Row>
</Grid>