@page "/ch08r04"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "InternalEmployee")]

<h3>Store settings</h3>
<AuthorizeView Roles="Support,Admin">
    <p>You're authorized to see store settings.</p>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <p><button>Shutdown</button></p>
</AuthorizeView>