@typeparam T
@implements IGridActions

<CascadingValue Value="@this">
    <table class="table table-bordered">
        <thead>
            @Header
        </thead>
        <tbody>
            @foreach (var element in Data)
            {
                @Row(element)
            }
        </tbody>
    </table>
</CascadingValue>

<Sorter @ref="@Sorter" />

@code {
    [Parameter, EditorRequired]
    public IList<T> Data { get; set; }

    [Parameter]
    public EventCallback<IList<T>> DataChanged { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment Header { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<T> Row { get; set; }

    protected Sorter Sorter = default!;

    public Task SortAsync(string by)
    {
        Data = Sorter.Sort(Data, by);
        return DataChanged.InvokeAsync(Data);
    }
}