<td @onclick=@(() => Actions.SortAsync(Property))>
    @ChildContent
</td>

@code {
    [CascadingParameter]
    public IGridActions Actions { get; set; }

    [Parameter, EditorRequired]
    public string Property { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}