@* @page "/ch06r02" *@

<form method="post" @onsubmit="@Save"
      @formname="event-form" data-enhance>

    <AntiforgeryToken />
    <label>
        Name:
        <InputText @bind-Value="@Model.Name" />
    </label>
    <button type="submit">Save</button>
</form>

@code {
    [SupplyParameterFromForm]
    protected Event Model { get; set; }

    protected override void OnInitialized()
        => Model ??= new(); 

    private void Save()
        => Console.WriteLine($"Saved {Model.Name}.");
}