@using BlazorCookbook.App.Client.Chapters.Chapter02.Recipe06.Data
@rendermode InteractiveWebAssembly
@inherits OwningComponentBase

<h3>What's your name?</h3>

<input class="form-control w-50"
       @bind=@User
       @bind:event="oninput"
       @bind:after="@OnUserInput" />

<hr />

@if (!Suggestions.Any())
    return;

<h5>Did you mean?</h5>
@foreach (var name in Suggestions)
{
    <div>@name</div>
}

@code {
    protected string User = string.Empty;

    [Inject] private SuggestionsApi Api { get; init; }
    protected IList<string> Suggestions = Array.Empty<string>();

    private readonly TimeSpan
        _throttle = TimeSpan.FromMilliseconds(300),
        _timeout = TimeSpan.FromMinutes(1);

    private Timer _debounceTimer;

    private void OnUserInput()
    {
        _debounceTimer?.Dispose();

        _debounceTimer = new Timer(
            _ => InvokeAsync(AutocompleteAsync),
            null,
            _throttle,
            _timeout);
    }

    private async Task AutocompleteAsync()
    {
        Suggestions = 
            string.IsNullOrWhiteSpace(User) ?
            Array.Empty<string>() :
            await Api.FindAsync(User);

        await InvokeAsync(StateHasChanged);
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            _debounceTimer?.Dispose();
        }

        base.Dispose(disposing);
    }
}