@using BlazorCookbook.App.Configuration

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCookbook.App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @for (int i = 1; i < ChaptersContainer.HowManyChapters + 1; i++)
        {
            string url = $"chapters/{i}", chapter = $"Chapter {i}";

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@url">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @chapter
                </NavLink>
            </div>
        }

    </nav>
</div>