@page "/ch09r07"
@rendermode InteractiveWebAssembly
@implements IDisposable

<EditForm FormName="ticket-creator"
          Model="@Model"
          OnValidSubmit="@SaveAsync">
    
    <p>
        Name <InputText @bind-Value=@Model.Name />
    </p>
    <p>
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </p>

</EditForm>

@code {
    [Inject] private NavigationManager Navigation { get; init; }

    [SupplyParameterFromForm]
    public Ticket Model { get; set; } = new();

    private CancellationTokenSource _cts;

    private void CancelTask(object sender, LocationChangedEventArgs args)
        => _cts?.Cancel();

    protected override void OnInitialized()
        => Navigation.LocationChanged += CancelTask;

    public void Dispose()
    {
        Navigation.LocationChanged -= CancelTask;
        _cts?.Dispose();
    }

    private async Task SaveAsync()
    {
        _cts = new();
        await DataSource.SaveAsync(Model, _cts.Token);
    }
}