@attribute [Route(DeepLinks.LandingPage)]
@attribute [Route(DeepLinks.WithTicketPage)]
@attribute [Route(DeepLinks.WithTicketAtVenuePage)]

<h1>Welcome in the external ticket manager!</h1>

<p>Viewing @(Venue ?? "all venues")</p>
@if (TicketId != Guid.Empty)
{
    <p>Ticket ID: @TicketId</p>
}

@code {
    [Parameter] public Guid TicketId { get; set; }
    [Parameter] public string Venue { get; set; }
}