@page "/ch07r03"

<EditForm EditContext="@Context" FormName="forEvent"
          OnValidSubmit="@Save">
    <div>
        Name: <InputText @bind-Value="@Model.Name" />
    </div>
    <div>
        <ValidationMessage For="() => Model.Name" />
    </div>
    <button type="submit">Save</button>
    <DataAnnotationsValidator />
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Event Model { get; set; }

    protected EditContext Context;
    protected ValidationMessageStore Store;

    private void Save()
        => Console.WriteLine($"Saved {Model.Name}.");

    protected override void OnInitialized()
    {
        Model ??= new();
        Context = new(Model);
        Store = new(Context);
    }
}