@page "/ch05r06"
@rendermode InteractiveWebAssembly

<button @onclick="@(() => SetViewModeAsync(_light))">
    Turn the light on!
</button>
<button @onclick="@(() => SetViewModeAsync(_dark))">
    Turn the light off!
</button>

<p>@ViewMode</p>

@code {
    [Inject] private BrowserStorage Storage { get; init; }

    private const string _key = "viewMode",
        _light = "lightMode", _dark = "darkMode";

    public async Task SetViewModeAsync(string mode)
    {
        var value = new LocalStorageValue<string>
        {
            Key = _key,
            Value = mode
        };

        await Storage.PersistAsync(value);
    }

    protected string ViewMode = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var value = new LocalStorageValue<string>
        {
            Key = _key
        };

        ViewMode = await Storage.ResolveAsync(value);
        StateHasChanged();
    }
}
