@page "/ch04r01"

<Grid Tickets="@Tickets.All" Context="ticket">
    <Header>
        <tr>
            <td>Tariff</td>
            <td>Price</td>
            <td>Availability</td>
        </tr>
    </Header>
    <Row>
        <tr>
            <td>@ticket.Tariff</td>
            <td>@ticket.Price</td>
            <td>@ticket.Availability</td>
        </tr>
    </Row>
</Grid>