<div class="ticket">
    <div class="name">@Tariff</div>
    <div class="price">@(Price.ToString("0.00 $"))</div>
</div>

@code {
    [Parameter] public string Tariff { get; set; }
    [Parameter] public decimal Price { get; set; }
}