@typeparam T

<table class="table table-bordered">
    <thead>
        @Header
    </thead>
    <tbody>
        @foreach (var element in Set)
        {
            @Row(element)
        }
    </tbody>
</table>

<hr />

<Paginator Getter="@LoadAsync" />

@code {
    [Parameter, EditorRequired]
    public IList<T> Data { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment Header { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<T> Row { get; set; }

    protected IList<T> Set = Array.Empty<T>();

    private Task LoadAsync(int page, int size)
    {
        Set = Data.Skip((page - 1) * size)
                  .Take(size)
                  .ToList();

        StateHasChanged();
        return Task.CompletedTask;
    }
}