@page "/ch04r03"
@rendermode InteractiveWebAssembly

<Grid Data="@Tickets.LargeDataset">
    <Header>
        <tr>
            <td>Tariff</td>
            <td>Price</td>
        </tr>
    </Header>
    <Row>
        <tr>
            <td>@context.Tariff</td>
            <td>@context.Price</td>
        </tr>
    </Row>
</Grid>