@* @page "/ch06r05" *@

<EditForm FormName="cover-upload" Model="@Model"
          OnSubmit="@SaveAsync"
          Enhance enctype="multipart/form-data">

    <p><InputFile name="Model.File" /></p>
    <p><button type="submit">Save</button></p>

</EditForm>

@code {
    [Inject] private FileStorage Storage { get; init; }

    [SupplyParameterFromForm]
    public EventCover Model { get; set; }

    protected override void OnInitialized()
        => Model ??= new();

    private Task SaveAsync()
    {
        using var stream = Model.File.OpenReadStream();
        return Storage.UploadAsync(stream);
    }}
