<button class="btn btn-sm btn-success"
        @onclick=@OnShow>
    Edit
</button>
<button class="btn btn-sm btn-info"
        @onclick=@OnDisable>
    Disable
</button>
<button class="btn btn-sm btn-danger"
        @onclick=@OnRemove>
    Remove
</button>

@code {
    [Parameter, EditorRequired]
    public EventCallback OnShow { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback OnDisable { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnRemove { get; set; }
}
