<div @onpreventcopy="@Log">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    private void Log(PreventedCopyEventArgs args)
        => Console.WriteLine($"Prevented data leak at {args.Stamp} UTC.");
}